.number_input{
	width: 40px;
}

.float-right{
	float: right;
}

.overview_header_row{
	margin-top:20px;
	font-weight: bold;
}

#char_skill_table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 250px
}

#char_ep_table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 150px;
}

#char_trauma_table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 250px;
}

.table_trauma_entry {
	width: 100%;
}

.table_trauma_description {
	width: 90%;
}

.table_trauma_not_healed {
	font-style: italic;
}

#char_docs_table.table-fixedheader>tbody{
	overflow-y: scroll;
	height: 150px;
}

#handout_table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 150px;
}

.overview_table_header{
	font-weight: normal !important;
}

#character_class_skill_selected tbody,
#character_class_skill_options tbody,
#character_non_class_skill_selected tbody,
#character_non_class_skill_options tbody,
#descent_race_skill_selected tbody,
#descent_race_skill_options tbody{
	width: 100%;
	height: 250px;
	background-color: #FFF;
	overflow-y: scroll;
	border: 1px solid;
	border-color: #AAA;
	padding: 0px;
}

.character_class_skill_select_btn,
.character_non_class_skill_select_btn,
.descent_race_skill_select_btn{
	margin-top:50px;
}

.warning_not_entered{
	color: red;
	font-style: italic;
}

.italic_text{
	font-style: italic;
}

.show-char-btn,
.remove-char-btn,
.edit-char-btn {
	z-index: 10 !important;
}

.kill-char-btn{
	z-index: 10 !important;
	background-color: #444 !important;
	border-color: #000 !important;
}

.raise-char-btn{
	z-index: 10 !important;
	background-color: #f5d52d !important;
	border-color: #a5a52d !important;
}

.show-add-ep-btn{
	z-index: 10 !important;
	background-color: #fbc856 !important;
	border-color: #ebb824 !important;
}

.extra_info_text {
	width: 100%;
	height: 300px;
	overflow-y: scroll;
	resize: none;
}

.nicEdit-main {
	background-color: #FFF;
	overflow: auto !important;
}

.deselect {
	display: none !important;
}

#descentSkillSearchRespons {
	display: none;
	font-weight: bold;
	color: red;
}

.classSkillSearchResponsNotFound {
	display: none;
	font-weight: bold;
	color: red;
}

#classSkillSearchResponsNonClass{
	display: none;
	font-weight: bold;
	color: green;
}

#classSkillSearchResponsClass{
	display: none;
	font-weight: bold;
	color: green;
}