.overview_header {
	font-size: 32px;
	font-weight: bold;
	padding-right: 15px;
	vertical-align: middle;
}

.button-add {
	vertical-align: middle;
}

.detail_name {
	font-weight: bold;
}

.detail_table {
	margin-top: 10px;
}

.detail_rating {
	text-align: center;
}

.btn-update {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 8px;
	padding-right: 8px;
}

.btn-delete {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 8px;
	padding-right: 8px;
}

.equipment_search_input {
	vertical-align: middle;
}

.equipment_desc {
	width: 100%;
	height: 150px;
}

.equipment_name_row {
	padding: 8px !important;
	margin-bottom: 10px !important;
}

.equipment_details {
	display: none;
}

.name_warning {
	background: red;
	color: white !important;
	font-weight: bold;
}
