.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 20px;
  margin-left: auto;
  margin-right:auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loaderMessage {
	width: 500px;
	height: 225px;
	position: relative;
	background-color: white;
	box-shadow: 1px 1px 10px black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

#loaderHeader {
	margin-top:5px;
}