.promptMessage {
	width: 500px;
	height: 200px;
	position: relative;
	background-color: white;
	box-shadow: 1px 1px 10px black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

#prompt_message {
	margin-bottom: 10px;
}

#promptHeader {
	margin-top:5px;
}