.rule_line {
	padding-bottom: 10px;
}

.rule_header {
	font-weight: bold;
}

.rule_details {
	display: none;
}

.rule_warning {
	background: red;
	color: white !important;
	font-weight: bold;	
}

.rule_name_row {
	padding: 8px !important;
	margin-bottom: 10px !important;
}

.rule_header {
	padding: 6px !important;
	margin-bottom: 8px !important;
}

.rule_display {
	font-style: italic;
}

.btn-add {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 8px;
	padding-right: 8px;
}

