#spark_table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 400px
}

#char_table.table-fixedheader>tbody,
#skill_table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 480px
}

#playerWithSkill_table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 290px
}

.skillDetails {
	width: 1000px;
	height: 450px;
	position: relative;
	background-color: white;
	box-shadow: 1px 1px 10px black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
}

#skill_name {
	font-size: 20px;
	line-height: 30px;
	vertical-align: bottom;
	font-weight: bold;
}

#showSkillDetails {
	margin-bottom: 10px;
}


.search-query:focus+button {
	z-index: 3;
}

.close-button {
	float: right;
	margin-top: -14px;
	margin-bottom: 5px;
}

.hidden {
	display: none;
}

.skill_detail{
	font-weight: bold;
}

#skill_desc_long {
	width: 100%;
	height: 200px;
	resize: none;
	border: none;
	overflow-y: auto;
}

#skill_mentor {
	margin-top: 10px;
}

.skill_ep_cost{
	text-align: center !important;
}

#playersWithSkillTitle{
    font-size: 20px;
	line-height: 30px;
	vertical-align: bottom;
	font-weight: bold;
}

.playersWithSkill {
	width: 1000px;
	height: 450px;
	position: relative;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8%;
}

#filterSkillSelectAllBtn,
#filterSkillInvertSelectBtn {
	margin-bottom: 6px;
}